.wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    background-color: #424242;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #363636;

}

/*===== стили для  шапки*/

.tasks_wrap__input {
    height: 68px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    z-index: 100;
    background-color: #424242;

}
.tasks_input {
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 14px;

}

.tasks_input input {
    width: 80%;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    height: inherit;
    background-color: #393939;
    color: #ccc;
    box-sizing: border-box;
    border: 1px solid transparent;
}
.tasks_input  .inputError  {
    border: 1px solid red;
}

.tasks_input button {
    width: 20%;
    height: inherit;
    background-color: #088dcd;
    cursor: pointer;
}

/*===== анимация для кнопки добавдления task*/
@-webkit-keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.tasks_button {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.tasks_button:active {
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
/*=====*/
.list_items {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

ul {
    margin: 0;
    list-style: none;
    padding: 10px;
    border: 1px solid #363636;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;

}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background: none 0px 0px repeat scroll rgb(68, 68, 68);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(83, 83, 83);
    border-image: initial;
    transition: all 0.15s linear 0s;
}

.item:hover {
    box-shadow: rgb(49, 56, 60) 0px 8px 8px;
    border-color: transparent;
    transition: all 0.15s linear 0s;
}

.item_title {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}
.item_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 1px;
    padding-right: 0;
    box-sizing: border-box;
    width: 15%;
    height: 100%;

}
.item_button button {
    color: white;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: all 0.15s linear 0s;
    cursor: pointer;
}

/*===== анимация кнопки delete */

.item_button button {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #088dcd;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.item_button button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: red;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.item_button button:hover, .item_button button:focus, .item_button button:active {
    color: #000;
}
.item_button button:hover .item, .item_button button:focus .item, .item_button button:active .item{
   border-color: red;
}
.item_button button:hover:before, .item_button button:focus:before, .item_button button:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/*=====*/















