.wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 38%;
    height: 617px;
    border: 1px solid blue;

}

/*===== стили для  шапки*/

.tasks_wrap__input {
    height: 68px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    z-index: 100;
    background-color: #424242;

}
.tasks_input {
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 14px;

}

.tasks_input input {
    width: 80%;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    height: inherit;
    background-color: #393939;
    color: #ccc;
    box-sizing: border-box;
    border: 1px solid transparent;
}
.tasks_input  .inputError  {
    border: 1px solid red;
}

.tasks_input button {
    width: 20%;
    height: inherit;
    background-color: #088dcd;
    cursor: pointer;
}

/*===== анимация для кнопки добавдления task*/
@-webkit-keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.tasks_button {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.tasks_button:active {
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
/*=====*/
.list_items {
    width: 100%;
    height: 100%;
    
}