
.todoList {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
}

.todo_wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.todoList > div {
    padding: 10px;
}

.filter-active {
    background-color: #2a89f3;
}

.error {
    border-color: red;
}

.done {
    opacity: .5;
}
